<footer>
  <div class="f-info">
    <div class="f-info-socials mt-2">
      <a
        href="https://www.facebook.com/gautamkr0"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/gautamkrr_/"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/gautamkr01/"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        href="https://github.com/gautamkr01/"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <a
        href="https://x.com/gautamkumark01"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WonderLust Private Limited</div>
    <p>Made by &hearts; Gautam</p>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a> &nbsp; &nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
